# STORE DATA

# 1.) LIST

In [7]:
friendsname=["pawan","manan","mukul","tanya"]
print(friendsname)

['pawan', 'manan', 'mukul', 'tanya']

In [9]:
# delete pawan

friendsname=["pawan","manan","mukul","tanya"]
friendsname.remove("pawan")
print(friendsname)

['manan', 'mukul', 'tanya']

In [11]:
# Access the data
friendsname=["pawan","manan","mukul","tanya"]
for x in friendsname:
    print(x)

pawan
manan
mukul
tanya

In [19]:
# Update mukul to mukul sharma

friendsname=["pawan","manan","mukul","tanya"]
friendsname[2]="mukul sharma"
for x in friendsname:
    print(x)

pawan
manan
mukul sharma
tanya

In [21]:
#add viyom and print the data
friendsname=["pawan","manan","mukul","tanya"]
friendsname.insert(3,"manan")
for x in friendsname:
    print(x)

pawan
manan
mukul
manan
tanya

# 2.) DICTONARY

In [29]:
# add data pawan , mukul , manan , tanya

myinfo ={"name" :[ "pawan","mukul","manan","tanya"]}
print(myinfo)

{'name': ['pawan', 'mukul', 'manan', 'tanya']}

In [43]:
#delete pawan
myinfo ={"name1" : "pawan",
         "name2" : "manan",
         "name3" : "mukul",
         "name4" : "tanya" }
myinfo.pop("name1")
for i in myinfo.values():
    print(i)

manan
mukul
tanya

In [45]:
#Access the data
myinfo ={"name1" : "pawan",
         "name2" : "manan",
         "name3" : "mukul",
         "name4" : "tanya" }

for i in myinfo.values():
    print(i)

pawan
manan
mukul
tanya