In [ ]:
#Arithematic Operator
+,_,*,/,//,%

In [9]:
#ADDITION OF TWO NUMBER
a=10
b=30
c=a+b
c

40

In [7]:
a=int(input("Enter first number"))
b=int(input("Enter second number"))
c=a+b
print('the addition is', c)

Enter first number 10
Enter second number 20

the addition is 30

In [4]:
#single line string
a='MY FIRST PYTHON PROGRAM'
print(a)

MY FIRST PYTHON PROGRAM

In [8]:
#multi line string
a='''MY FIRST PYTHON PROGRAM
MULTI LINE STATEMENTS'''
print(a)

MY FIRST PYTHON PROGRAM
MULTI LINE STATEMENTS

In [10]:
#SUBTRACTION OF TWO NUMBER
a=60
b=30
c=a-b
c

30

In [11]:
#MULTIPLICATION OF TWO NUMBER
a=10
b=30
c=a*b
c

300

In [12]:
#DIVISION OF TWO NUMBER
a=60
b=30
c=a/b
c

2.0

#FLOOR DIVISION OF TWO NUMBER
a=20
b=3
c=a//b
c

In [14]:
#MODULUS OF TWO NUMBER
a=40
b=6
c=a%b
c

4

# ASSIGNMNET OPERATOR

<!-- #ASSIGNMENT OPERATOR
=,+=,-=,*=,/=,//=,%= -->

In [26]:
a=10
print(a)

10

In [16]:
a=10
a+=10
print(a)

20

In [17]:
a=10
a-=10
print(a)

0

In [18]:
a=10
a*=10
print(a)

100

In [19]:
a=10
a/=10
print(a)

1.0

In [20]:
a=10
a//=10
print(a)

1

# COMPARISON OPERATOR

<!-- COMPARISON OPERATOR
==,<=,>=,!= -->

In [27]:
a=10
b=20
a==b

False

In [23]:
a=10
b=20
a<=b

True

In [24]:
a=10
b=20
a>=b

False

In [25]:
a=10
b=20
a!=b

True

# LOGICAL OPERATOR

In [29]:
True and True

True

In [32]:
True and False

False

In [31]:
False and True

False

In [30]:
False and False

False

In [36]:
1 and 1

1

In [35]:
1 and 0

0

In [34]:
0 and 1

0

In [33]:
0 and 0

0

In [37]:
10 and 19

19

In [41]:
True or True

True

In [40]:
True or False

True

In [39]:
False or True

True

In [38]:
False or False

False

In [45]:
1 or 1

1

In [44]:
1 or 0

1

In [43]:
0 or 1

1

In [42]:
0 or 0

0

In [46]:
10 or 19

10

In [47]:
not(True)

False

In [48]:
not(False)

True

In [49]:
not(1)

False

In [50]:
not(0)

True

In [51]:
not(10)

False

In [52]:
not(-10)

False

In [53]:
not(48)

False

# DATA TYPES

In [ ]:
In Python there are very few data types
1.)  int --->  used to store integer value.
     Example:- salary=2500

2.)  str --->  used to store string value.
     Example:- name="Viyom Verma"

3.)  float ---> used to store decimal value.
     Example:- amount= 2789.56

when we have to store multiple values we use data types like:- 

 #Array -> it can store the multiple values  of the same data types.
 Example:- friendnames =["rahul", "anshu" , "viyom" , 123]
        here the array friendname will not accept 123 as it is of different data types.
            
*  List:-  it can store mulitple value with different data types.
           # Example:- FriendsNameAge = ["rahul" , "anshu", 123]
*  Tuple:- it can store the multiple values but can not be modified,it typecast the variable.
           #Example:-  
*  Set :-  
*  Dictionary

'''How to find the data  type of any variable.
amount=2500
print(amount)
print(type(amount))  ---> it will give output as (int)'''

In [2]:
#typecasting convert one data type to another data type

price=90.58
print(price)
print(type(price))

90.58
<class 'float'>

In [4]:
#convert to integer
payPrice=int(price)
print(payPrice)
print(type(payPrice))

90
<class 'int'>

In [6]:
#convert int to string
amount =2599
Stramount=str(amount)
print(Stramount,"and data type is", type(Stramount))

2599 and data type is <class 'str'>

In [ ]:
'''convert string to int
gender= "male"
intGender= int(gender)
print(gender,"and data type is", type(intGender))
conversion not possible because string doesnt have ASCII values'''

In [12]:
#how to take input from the users
myName =input("Enter your Name")
print("My name is",myName)
print("My name is" + myName)

Enter your Name Viyom Verma

My name is Viyom Verma
My name isViyom Verma

In [5]:
#how to take input from the users
#replace + with , when data is not string


myName =input("Enter your Name")
myAge= input("Enter your age")
print("My name is ",myName ,"and age is" ,int(myAge))

Enter your Name Viyom verma
Enter your age 19

My name is  Viyom verma and age is 19

In [7]:
#how to take input from the users
#pass the variable in print statement with f{}


myName =input("Enter your Name")
myAge= input("Enter your age")
print(f"My name is {myName} and age is {int(myAge)}")

Enter your Name Viyom Verma
Enter your age 19

My name is Viyom Verma and age is 19

# Decision Making

In [ ]:
'''if else is used as a decision making in the python.'''

In [14]:
#Check you are eligible for voting or not
# Get the age from the user
userage=int(input("Enter your age"))
if userage>18:
    print("You are eligible to vote")
else:
    print("You are not eligible for voting")

Enter your age 27

You are eligible to vote

In [16]:
# Write a program to check whether the number is even or odd.
num=int(input("Enter a number"))
if num%2==0:
    print("the number is even")
else:
    print("the number is odd")

Enter a number 57

the number is odd

# Iterative Loop

In [2]:
#For loop is used to complete the iteration or repeating the task
name=input("Enter your name")
#iterate my name using for loop
#example:- in c for(int i=0;i<10;i++)

for i in name:
    print(i)

Enter your name Viyomm Verma

V
i
y
o
m
m

V
e
r
m
a

In [4]:
#print number from 1 to 10

for x in range(1,11):
    print(x)

1
2
3
4
5
6
7
8
9
10

In [16]:
#print this pattern using for loop :- 1 3 5 7 9 11

for x in range(1,12):
    if x%2 !=0:
        {
           print(x)
        }

1
3
5
7
9
11

In [18]:
#another way of printing patter
for x in range(1,12,2):     #2 is the step size
    print(x)

1
3
5
7
9
11

In [20]:
#print number from 1 to 20 even and odd :
print("even numbers")
for x in range(1,20):
    if x%2 ==0:
        {
           print(x)
        }

print("odd numbers")
for x in range(1,20):
    if x%2 !=0:
        {
           print(x)
        }

even numbers
2
4
6
8
10
12
14
16
18
odd numbers
1
3
5
7
9
11
13
15
17
19

# while loop

In [23]:
#while loop is used to perform iteration until condition is true

#print the no from 1 to 10 using while loop
x=1
while x<11:
    print(x)
    x=x+1

1
2
3
4
5
6
7
8
9
10

In [32]:
#print the no from 1 to 10 using while loop
x=10
while x>0:
    print(x)
    x=x-1

10
9
8
7
6
5
4
3
2
1

In [1]:
#function can perform any task and it can reuse anytime

def printName():
    print("My function name is print")


#function calling
printName()

#argument function and parameter function
def myAge(age):
    print("my age is",age)

myAge(33)

My function name is print
my age is 33

In [5]:
#find the area of square using function

def area(s):
    print("the area of square is", s*s)

area(5)

the area of square is 25

In [ ]:
#Zomato:- delivery cost , VAT, food cost , discount

# list

In [ ]:
'''list is used to store different types of data'''
#list store different types of data like int ,string ,float

In [4]:
#create a list and store your friends name
friendsname=["amiti","sakshi"]

#to access the data from the list
#to get the single data from list---> listvariable[indexNo]


print(friendsname[1])

sakshi

In [10]:
friendsname=["amiti","sakshi","devansh","manan","vishesh","anushka","harshita",19,18,20,34,10,29]
#to print  the complete list

for x in friendsname:
    print(x)
#to add data in the list
print("After adding data---------------------")
friendsname.append("Viyom")
for x in friendsname:
    print(x)

amiti
sakshi
devansh
manan
vishesh
anushka
harshita
19
18
20
34
10
29
After adding data---------------------
amiti
sakshi
devansh
manan
vishesh
anushka
harshita
19
18
20
34
10
29
Viyom

In [14]:
#if u want to add the data on any position  
friendsname=["amiti","sakshi","devansh","manan"]
friendsname.insert(2,"viyom")
for x in friendsname:
    print(x)
#list can have duplicate data

amiti
sakshi
viyom
devansh
manan

In [16]:
print("new ")

new